{% extends 'base.html' %}
{% load static %}

{% block title %}Услуги АМС{% endblock %}

{% block content %}
<!--<h1>{{ title }}</h1>-->
<div class="container-upper">
  <form method="get">
    <label for="space_object"></label>
    <input style="margin-right: 30px; color: grey" type="text"
           id="space_object" name="space_object"
           placeholder="Поиск" value="{{ space_object }}">
  </form>
  <div class="image-container">
    {% if draft_request %}
      <a href="{% url 'order_detail' draft_request.id %}">
        <img src="{% static 'images/cart.png' %}" alt="Cart Image">
        <div class="text-overlay">{{ num_objects }}</div>
      </a>
    {% else %}
      <img src="{% static 'images/cart.png' %}" alt="Cart Image" class="no-click">
      <div class="text-overlay">{{ num_objects }}</div>
    {% endif %}
  </div>
</div>
    
<div class="container-upper">
  <table style="width: 100%">
    <tr>
      <td style="width: 70%">
        <h2>Услуги автоматических межпланетных станций (АМС)</h2>
        <p>Установка на АМС научного оборудования, груза по заявкам.</p>
      </td>
      <!-- <td style="width: 30%; text-align: end">
        <div>Количество услуг<br>в заявке {{ draft_request.id }}:
            <p style="font-weight: bold">{{ num_objects }}</p>
        </div>
      </td> -->
    </tr>
  </table>
</div>
<div class="container">
  {% for object in space_objects %}
    <div class="card">
      <img src="{{ object.image_url }}" alt="{{ object.name }}" class="image">
      <div class="title">{{ object.name }}</div>
      {% autoescape off %}
      <div class="short-description">{{ object.description|linebreaks|truncatewords:16 }}</div>
      Цена: {{ object.price }}$/кг<p>Старт {{ object.scheduled_at }}</p>
      {% endautoescape %}
      <p>
        <a href="{% url 'detail' object.id %}" class="button-primary"
           style="font-size: 22px">Читать далее о {{ object.name }}
          <svg width="32px" height="32px" viewBox="0 0 32 32"
               xmlns="http://www.w3.org/2000/svg">
            <circle class="button-primary-circle"
                    style="fill: red" cx="16" cy="16"
                    r="8"></circle>
            <path style="fill: white"
                  d="M8 16.956h12.604l-3.844 4.106 1.252 1.338L24 16l-5.988-6.4-1.252 1.338 3.844 4.106H8v1.912z"></path>
          </svg>
        </a>
        <form method="post" action="{% url 'detail' object.id %}">
          {% csrf_token %}
          <button type="submit" class="button-primary" style="font-size: 18px; ">
              Добавить в заявку
          </button>
        </form>
      </p>
    </div>
  {% endfor %}
</div>
{% endblock %}