{% extends 'base.html' %}

{% block title %}Заявки{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<<form method="get" action="{% url 'orders' %}">
  <label for="status_filter">Фильтр по статусу: </label>
  <select id="status_filter" name="status_filter">
    <option {% if status_filter == 'Любой статус' %}selected{% endif %}>Любой статус</option>
    <option {% if status_filter == 'В работе' %}selected{% endif %}>В работе</option>
    <option {% if status_filter == 'Завершено' %}selected{% endif %}>Завершено</option>
    <option {% if status_filter == 'Отклонено' %}selected{% endif %}>Отклонено</option>
  </select>
  <label for="executed_filter>">&nbsp;Выполнено (нет): </label>
  <select id="executed_filter" name="executed_filter">
    <option {% if executed_filter == 'Все' %}selected{% endif %}>Все</option>
    <option {% if executed_filter == 'Выполнено' %}selected{% endif %}>Выполнено</option>
    <option {% if executed_filter == 'Не выполнено' %}selected{% endif %}>Не выполнено</option>
  </select>
  <label for="created_date">&nbsp;Дата создания после: </label>
    <input type="date" id="created_date" name="created_date" value="{{ created_date_filter }}">
  <button class="btn" type="submit">Применить</button>
</form>
<p></p>
<table class="orders-table">
  <thead>
    <tr>
      <th style="width: 5%;">#</th>
      <th style="width: 10%;">Цель</th>
      <th style="width: 10%;">АМС</th>
      <th style="width: 10%;">Статус</th>
      <th style="width: 10%;">Создано</th>
      <th style="width: 10%;">Выполнено</th>
      <th style="width: 10%;">Завершено</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.target }}</td>
      <td>{{ order.ais }}</td>
      <td>{{ order.status }}</td>
      <td>{{ order.created }}</td>
      <td>{% if order.executed %}
            {{ order.executed }}
          {% else %}
            —
          {% endif %}
      </td>
      <td>{% if order.completed %}
            {{ order.completed }}
          {% else %}
            —
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}